{% extends "base.html" %}
{% load static %}

{% block container %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
<div class="d-flex flex-wrap ">
{% for category in data.categories %}
<div class="col-4 p-1">
  <div class="card" style="width: 18rem;">
    <img src="{{ category.strCategoryThumb }}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{category.strCategory }} {{category.idCategory}}</h5>
      <p class="card-text">{{category.strCategoryDescription|truncatewords:10}}</p>
    </div>
  </div>
</div>
{% endfor %}
</div>
{% endblock  %}
